<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8xwN9hLp_YRDQRsH-a-cVTTxeuKtmqjE</string>
	<key>GCM_SENDER_ID</key>
	<string>976603464438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-3c090</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-3c090.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976603464438:ios:671ad6a7a28c7b157ee2d7</string>
</dict>
</plist>